# Importing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from pathlib import Path
print(Path().resolve())

C:\Users\power\Desktop\ukrailways

In [4]:
import pandas as pd
from pathlib import Path

file_path = Path("C:/Users/power/Desktop/ukrailways/railway.csv")
df = pd.read_csv(file_path)
print(f"✅ Data loaded successfully from: {file_path}")
df.head()

✅ Data loaded successfully from: C:\Users\power\Desktop\ukrailways\railway.csv

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,Arrival Destination,Date of Journey,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request
0,da8a6ba8-b3dc-4677-b176,2023-12-08,12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,Liverpool Lime Street,2024-01-01,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,2023-12-16,11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,York,2024-01-01,09:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,2023-12-19,19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,2024-01-02,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,Reading,2024-01-01,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,2023-12-27,18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,London Euston,2024-01-01,16:45:00,19:00:00,19:00:00,On Time,NaN,No

In [5]:
df.info()
df.describe(include='all')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

Transaction ID             0
Date of Purchase           0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Railcard               20918
Ticket Class               0
Ticket Type                0
Price                      0
Departure Station          0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Arrival Time               0
Actual Arrival Time     1880
Journey Status             0
Reason for Delay       27481
Refund Request             0
dtype: int64

# Exploration

In [6]:
df.shape

(31653, 18)

In [7]:
df.columns.tolist()

['Transaction ID',
 'Date of Purchase',
 'Time of Purchase',
 'Purchase Type',
 'Payment Method',
 'Railcard',
 'Ticket Class',
 'Ticket Type',
 'Price',
 'Departure Station',
 'Arrival Destination',
 'Date of Journey',
 'Departure Time',
 'Arrival Time',
 'Actual Arrival Time',
 'Journey Status',
 'Reason for Delay',
 'Refund Request']

In [8]:
df.dtypes

Transaction ID         object
Date of Purchase       object
Time of Purchase       object
Purchase Type          object
Payment Method         object
Railcard               object
Ticket Class           object
Ticket Type            object
Price                   int64
Departure Station      object
Arrival Destination    object
Date of Journey        object
Departure Time         object
Arrival Time           object
Actual Arrival Time    object
Journey Status         object
Reason for Delay       object
Refund Request         object
dtype: object

# Cleaning

In [9]:
df['Transaction ID'].duplicated().sum()

np.int64(0)

In [10]:
 # Convert time columns to datetime
time_cols = ["Date of Journey","Date of Purchase", "Departure Time", "Arrival Time", "Actual Arrival Time","Time of Purchase"]
for col in time_cols:
    if col in df.columns:
          df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)

D:\Temp\ipykernel_4204\2858505296.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)
D:\Temp\ipykernel_4204\2858505296.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)
D:\Temp\ipykernel_4204\2858505296.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)
D:\Temp\ipykernel_4204\2858505296.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)

In [11]:
df.dtypes

Transaction ID                 object
Date of Purchase       datetime64[ns]
Time of Purchase       datetime64[ns]
Purchase Type                  object
Payment Method                 object
Railcard                       object
Ticket Class                   object
Ticket Type                    object
Price                           int64
Departure Station              object
Arrival Destination            object
Date of Journey        datetime64[ns]
Departure Time         datetime64[ns]
Arrival Time           datetime64[ns]
Actual Arrival Time    datetime64[ns]
Journey Status                 object
Reason for Delay               object
Refund Request                 object
dtype: object

In [12]:
df.columns.tolist()

['Transaction ID',
 'Date of Purchase',
 'Time of Purchase',
 'Purchase Type',
 'Payment Method',
 'Railcard',
 'Ticket Class',
 'Ticket Type',
 'Price',
 'Departure Station',
 'Arrival Destination',
 'Date of Journey',
 'Departure Time',
 'Arrival Time',
 'Actual Arrival Time',
 'Journey Status',
 'Reason for Delay',
 'Refund Request']

In [13]:
# Create Delay Duration (minutes)
if "Arrival Time" in df.columns and "Actual Arrival Time" in df.columns:
        df["Delay Duration (min)"] = (df["Actual Arrival Time"] - df["Arrival Time"]).dt.total_seconds() / 60
        df["Delay Duration (min)"] = df["Delay Duration (min)"].fillna(0)

In [14]:
df.loc[df["Delay Duration (min)"] < 0, "Delay Duration (min)"] = 0

In [15]:
#  Extract Day of Week & Month
if "Date of Journey" in df.columns:
    df["Day of Week"] = df["Date of Journey"].dt.day_name()
    df["Month"] = df["Date of Journey"].dt.month_name()

In [16]:
if "Date of Journey" in df.columns:
    df["Year"] = df["Date of Journey"].dt.year

In [17]:
df.isnull().sum()

Transaction ID              0
Date of Purchase            0
Time of Purchase            0
Purchase Type               0
Payment Method              0
Railcard                20918
Ticket Class                0
Ticket Type                 0
Price                       0
Departure Station           0
Arrival Destination         0
Date of Journey             0
Departure Time              0
Arrival Time                0
Actual Arrival Time      1880
Journey Status              0
Reason for Delay        27481
Refund Request              0
Delay Duration (min)        0
Day of Week                 0
Month                       0
Year                        0
dtype: int64

In [18]:
df.isnull().mean().sort_values(ascending=False) * 100

Reason for Delay        86.819575
Railcard                66.085363
Actual Arrival Time      5.939405
Time of Purchase         0.000000
Date of Purchase         0.000000
Transaction ID           0.000000
Payment Method           0.000000
Purchase Type            0.000000
Ticket Class             0.000000
Ticket Type              0.000000
Arrival Destination      0.000000
Date of Journey          0.000000
Price                    0.000000
Departure Station        0.000000
Arrival Time             0.000000
Departure Time           0.000000
Journey Status           0.000000
Refund Request           0.000000
Delay Duration (min)     0.000000
Day of Week              0.000000
Month                    0.000000
Year                     0.000000
dtype: float64

In [19]:
df["Journey Status"].str.lower().eq("cancelled").sum()

np.int64(1880)

In [20]:
df.columns.tolist()

['Transaction ID',
 'Date of Purchase',
 'Time of Purchase',
 'Purchase Type',
 'Payment Method',
 'Railcard',
 'Ticket Class',
 'Ticket Type',
 'Price',
 'Departure Station',
 'Arrival Destination',
 'Date of Journey',
 'Departure Time',
 'Arrival Time',
 'Actual Arrival Time',
 'Journey Status',
 'Reason for Delay',
 'Refund Request',
 'Delay Duration (min)',
 'Day of Week',
 'Month',
 'Year']

In [21]:
df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Departure Time,Arrival Time,Actual Arrival Time,Journey Status,Reason for Delay,Refund Request,Delay Duration (min),Day of Week,Month,Year
0,da8a6ba8-b3dc-4677-b176,2023-12-08,2025-11-16 12:41:11,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,2025-11-16 11:00:00,2025-11-16 13:30:00,2025-11-16 13:30:00,On Time,NaN,No,0.0,Monday,January,2024
1,b0cdd1b0-f214-4197-be53,2023-12-16,2025-11-16 11:23:01,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,2025-11-16 09:45:00,2025-11-16 11:35:00,2025-11-16 11:40:00,Delayed,Signal Failure,No,5.0,Monday,January,2024
2,f3ba7a96-f713-40d9-9629,2023-12-19,2025-11-16 19:51:27,Online,Credit Card,NaN,Standard,Advance,3,Liverpool Lime Street,...,2025-11-16 18:15:00,2025-11-16 18:45:00,2025-11-16 18:45:00,On Time,NaN,No,0.0,Tuesday,January,2024
3,b2471f11-4fe7-4c87-8ab4,2023-12-20,2025-11-16 23:00:36,Station,Credit Card,NaN,Standard,Advance,13,London Paddington,...,2025-11-16 21:30:00,2025-11-16 22:30:00,2025-11-16 22:30:00,On Time,NaN,No,0.0,Monday,January,2024
4,2be00b45-0762-485e-a7a3,2023-12-27,2025-11-16 18:22:56,Online,Contactless,NaN,Standard,Advance,76,Liverpool Lime Street,...,2025-11-16 16:45:00,2025-11-16 19:00:00,2025-11-16 19:00:00,On Time,NaN,No,0.0,Monday,January,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,2024-04-30,2025-11-16 18:42:58,Online,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,...,2025-11-16 20:00:00,2025-11-16 20:30:00,2025-11-16 20:30:00,On Time,NaN,No,0.0,Tuesday,April,2024
31649,7da22246-f480-417c-bc2f,2024-04-30,2025-11-16 18:46:10,Online,Contactless,NaN,Standard,Off-Peak,10,London Euston,...,2025-11-16 20:15:00,2025-11-16 21:35:00,2025-11-16 21:35:00,On Time,NaN,No,0.0,Tuesday,April,2024
31650,add9debf-46c1-4c75-b52d,2024-04-30,2025-11-16 18:56:41,Station,Credit Card,NaN,Standard,Off-Peak,4,Manchester Piccadilly,...,2025-11-16 20:15:00,2025-11-16 20:45:00,2025-11-16 20:45:00,On Time,NaN,No,0.0,Tuesday,April,2024
31651,b92b047c-21fd-4859-966a,2024-04-30,2025-11-16 19:51:47,Station,Credit Card,NaN,Standard,Off-Peak,10,London Euston,...,2025-11-16 21:15:00,2025-11-16 22:35:00,2025-11-16 22:35:00,On Time,NaN,No,0.0,Tuesday,April,2024
31652,1d5d89a2-bde5-410f-8f91,2024-04-30,2025-11-16 20:05:39,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,2025-11-16 21:30:00,2025-11-16 22:00:00,2025-11-16 22:00:00,On Time,NaN,No,0.0,Tuesday,April,2024

In [22]:
df.isnull().sum().sort_values(ascending=False)

Reason for Delay        27481
Railcard                20918
Actual Arrival Time      1880
Time of Purchase            0
Date of Purchase            0
Transaction ID              0
Payment Method              0
Purchase Type               0
Ticket Class                0
Ticket Type                 0
Arrival Destination         0
Date of Journey             0
Price                       0
Departure Station           0
Arrival Time                0
Departure Time              0
Journey Status              0
Refund Request              0
Delay Duration (min)        0
Day of Week                 0
Month                       0
Year                        0
dtype: int64

In [23]:
import numpy as np

df['Reason for Delay'] = np.where((df['Reason for Delay'].isnull()) & (df['Delay Duration (min)'] == 0),'No Delay', df['Reason for Delay'])

In [24]:
df[df['Railcard'].isnull()]['Price'].describe()

count    20918.000000
mean        27.425997
std         33.079127
min          1.000000
25%          7.000000
50%         13.000000
75%         35.000000
max        267.000000
Name: Price, dtype: float64

In [25]:
df['Railcard'] = df['Railcard'].fillna('No Railcard')

In [26]:
df['Railcard'].value_counts()

Railcard
No Railcard    20918
Adult           4846
Disabled        3089
Senior          2800
Name: count, dtype: int64

In [27]:
df.isnull().sum().sort_values(ascending=False)

Actual Arrival Time     1880
Transaction ID             0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Date of Purchase           0
Railcard                   0
Ticket Class               0
Price                      0
Ticket Type                0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Departure Station          0
Arrival Time               0
Journey Status             0
Reason for Delay           0
Refund Request             0
Delay Duration (min)       0
Day of Week                0
Month                      0
Year                       0
dtype: int64

In [28]:
df[df['Actual Arrival Time'].isnull()]['Journey Status'].value_counts()

Journey Status
Cancelled    1880
Name: count, dtype: int64

In [29]:
df.loc[df['Journey Status'] == 'Cancelled', 'Actual Arrival Time'] = 'Cancelled'

D:\Temp\ipykernel_4204\3890608492.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cancelled' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.loc[df['Journey Status'] == 'Cancelled', 'Actual Arrival Time'] = 'Cancelled'

In [30]:
df.dtypes

Transaction ID                  object
Date of Purchase        datetime64[ns]
Time of Purchase        datetime64[ns]
Purchase Type                   object
Payment Method                  object
Railcard                        object
Ticket Class                    object
Ticket Type                     object
Price                            int64
Departure Station               object
Arrival Destination             object
Date of Journey         datetime64[ns]
Departure Time          datetime64[ns]
Arrival Time            datetime64[ns]
Actual Arrival Time             object
Journey Status                  object
Reason for Delay                object
Refund Request                  object
Delay Duration (min)           float64
Day of Week                     object
Month                           object
Year                             int32
dtype: object

In [31]:
df[['Day of Week', 'Month']].value_counts()

Day of Week  Month
Wednesday    January     1417
Sunday       March       1351
Thursday     February    1310
Tuesday      April       1262
Saturday     March       1250
Tuesday      January     1219
Monday       April       1144
Thursday     January     1143
Monday       January     1136
             March       1131
Friday       March       1114
             April       1105
Wednesday    March       1101
             February    1098
Sunday       February    1097
Thursday     March       1090
Sunday       April       1086
Friday       January     1082
Tuesday      March       1080
Wednesday    April       1076
Saturday     April       1071
             January     1068
Friday       February    1050
Sunday       January     1046
Tuesday      February    1046
Thursday     April       1037
Monday       February    1025
Saturday     February    1018
Name: count, dtype: int64

In [32]:
day_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

df['Day of Week'] = pd.Categorical(df['Day of Week'], categories=day_order, ordered=True)
df['Month'] = pd.Categorical(df['Month'], categories=month_order, ordered=True)

In [33]:
df['Transaction ID'] = df['Transaction ID'].astype(str)

In [34]:
df.dtypes

Transaction ID                  object
Date of Purchase        datetime64[ns]
Time of Purchase        datetime64[ns]
Purchase Type                   object
Payment Method                  object
Railcard                        object
Ticket Class                    object
Ticket Type                     object
Price                            int64
Departure Station               object
Arrival Destination             object
Date of Journey         datetime64[ns]
Departure Time          datetime64[ns]
Arrival Time            datetime64[ns]
Actual Arrival Time             object
Journey Status                  object
Reason for Delay                object
Refund Request                  object
Delay Duration (min)           float64
Day of Week                   category
Month                         category
Year                             int32
dtype: object

In [35]:
df['Delay Duration (min)'] = df['Delay Duration (min)'].fillna(0).astype(int)

df['Year'] = df['Year'].astype('Int64')

In [36]:
mask = df['Actual Arrival Time'] != 'Cancelled'
df.loc[mask, 'Actual Arrival Time'] = pd.to_datetime(df.loc[mask, 'Actual Arrival Time'], errors='coerce')

In [37]:
df.dtypes

Transaction ID                  object
Date of Purchase        datetime64[ns]
Time of Purchase        datetime64[ns]
Purchase Type                   object
Payment Method                  object
Railcard                        object
Ticket Class                    object
Ticket Type                     object
Price                            int64
Departure Station               object
Arrival Destination             object
Date of Journey         datetime64[ns]
Departure Time          datetime64[ns]
Arrival Time            datetime64[ns]
Actual Arrival Time             object
Journey Status                  object
Reason for Delay                object
Refund Request                  object
Delay Duration (min)             int64
Day of Week                   category
Month                         category
Year                             Int64
dtype: object

In [38]:
# Converting Date & Time
df["Date of Purchase"] = pd.to_datetime(df["Date of Purchase"], errors="coerce")
df["Date of Journey"] = pd.to_datetime(df["Date of Journey"], errors="coerce")

time_cols = ["Time of Purchase", "Departure Time", "Arrival Time", "Actual Arrival Time"]
for col in time_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce").dt.time

# Converting Category Columns
categorical_cols = ["Purchase Type", "Payment Method", "Railcard", "Ticket Class", "Ticket Type", "Journey Status", "Refund Request"]
df[categorical_cols] = df[categorical_cols].astype("category")

In [39]:
df.isnull().sum()

Transaction ID             0
Date of Purchase           0
Time of Purchase           0
Purchase Type              0
Payment Method             0
Railcard                   0
Ticket Class               0
Ticket Type                0
Price                      0
Departure Station          0
Arrival Destination        0
Date of Journey            0
Departure Time             0
Arrival Time               0
Actual Arrival Time     1880
Journey Status             0
Reason for Delay           0
Refund Request             0
Delay Duration (min)       0
Day of Week                0
Month                      0
Year                       0
dtype: int64

In [40]:
df.groupby('Railcard')['Price'].mean().sort_values(ascending=False)

D:\Temp\ipykernel_4204\3183930714.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Railcard')['Price'].mean().sort_values(ascending=False)

Railcard
No Railcard    27.425997
Adult          17.814693
Disabled       16.923924
Senior         10.577143
Name: Price, dtype: float64

In [41]:
time_cols_to_fix = ['Arrival Time', 'Departure Time', 'Actual Arrival Time']
for col in time_cols_to_fix:
    df[col] = pd.to_datetime(df[col], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M:%S')
df.to_csv('Cleaned_UKRailways_Data_Fixed.csv', index=False, encoding='utf-8')

In [42]:
df.to_csv('Cleaned_UKRailways_Data.csv', index=False, encoding='utf-8')